# Using Python for Research Homework: Week 3, Case Study 3

In this case study, we will analyze a dataset consisting of an assortment of wines classified as "high quality" and "low quality" and will use k-Nearest Neighbors classification to determine whether or not other information about the wine helps us correctly guess whether a new wine will be of high quality.

In [57]:
# DO NOT EDIT
import numpy as np, random, scipy.stats as ss

def majority_vote_fast(votes):
    mode, count = ss.mstats.mode(votes)
    return mode

def distance(p1, p2):
    return np.sqrt(np.sum(np.power(p2 - p1, 2)))

def find_nearest_neighbors(p, points, k=5):
    distances = np.zeros(points.shape[0])
    for i in range(len(distances)):
        distances[i] = distance(p, points[i])
    ind = np.argsort(distances)
    return ind[:k]

def knn_predict(p, points, outcomes, k=5):
    ind = find_nearest_neighbors(p, points, k)
    return majority_vote_fast(outcomes[ind])[0]

### Exercise 1

Our first step is to import the dataset.

#### Instructions 
- Read in the data as a pandas dataframe using `pd.read_csv`. The data can be found at https://courses.edx.org/asset-v1:HarvardX+PH526x+2T2019+type@asset+block@wine.csv

In [58]:
import pandas as pd

# write your code here!
wine = pd.read_csv('./wine.csv')

In [59]:
wine.head(5)

,Unnamed: 0,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color,high_quality
0,0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,0
1,1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red,0
2,2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red,0
3,3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red,1
4,4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red,0

### Exercise 2

Next, we will inspect the dataset and perform some mild data cleaning.

#### Instructions 
- In order to get all numeric data, we will change the `color` column to an `is_red` column. 
    - If `color == 'red'`, we will encode a `1` for `is_red`
    - If `color == 'white'`, we will encode a `0` for `is_red`
- Create this new column, `is_red`, and drop the `color` column
- Store this all numeric data in a pandas dataframe called `numeric_data`

In [60]:
if 'color' in wine.columns:
    wine['is_red'] = wine['color'].apply(lambda x: 1 if x == 'red' else 0)
    wine.drop(columns='color', inplace=True)

numeric_data = wine

In [35]:
wine[wine.is_red==1].count()

Unnamed: 0              1599
fixed acidity           1599
volatile acidity        1599
citric acid             1599
residual sugar          1599
chlorides               1599
free sulfur dioxide     1599
total sulfur dioxide    1599
density                 1599
pH                      1599
sulphates               1599
alcohol                 1599
quality                 1599
high_quality            1599
is_red                  1599
dtype: int64

### Exercise 3

We want to ensure that each variable contributes equally to the kNN classifier, so we will need to scale the data by subtracting the mean of each variable (column) and dividing each variable (column) by its standard deviation. Then, we will use principal components to take a linear snapshot of the data from several different angles, with each snapshot ordered by how well it aligns with variation in the data. In this exercise, we will scale the numeric data and extract the first two principal components.

#### Instructions 
- Scale the data using the `sklearn.preprocessing` function `scale()` on `numeric_data`.
- Convert this to a `pandas` dataframe, and store as `numeric_data`.
    - Include the numeric variable names using the parameter `columns = numeric_data.columns`.
- Use the `sklearn.decomposition` module `PCA()` and store it as `pca`.
- Use the `fit_transform()` function to extract the first two principal components from the data, and store them as `principal_components`.
- *Note*: You may get a `DataConversionWarning`, but you can safely ignore it

In [61]:
outcomes = wine.loc[:,['high_quality']]
outcomes

      high_quality
0                0
1                0
2                0
3                1
4                0
...            ...
6492             1
6493             0
6494             1
6495             1
6496             1

[6497 rows x 1 columns]

In [62]:
import sklearn.preprocessing
scaled_data = sklearn.preprocessing.scale(numeric_data)
scaled_data

array([[-1.42157097,  0.14247327,  2.18883292, ..., -0.93722961,
        -1.31348836,  1.75018984],
       [-1.42087498,  0.45103572,  3.28223494, ..., -0.93722961,
        -1.31348836,  1.75018984],
       [-1.420179  ,  0.45103572,  2.55330026, ..., -0.93722961,
        -1.31348836,  1.75018984],
       ...,
       [ 1.98526795, -0.55179227, -0.6054167 , ...,  0.20799905,
         0.76133145, -0.57136659],
       [ 1.98596393, -1.32319841, -0.30169391, ...,  1.35322771,
         0.76133145, -0.57136659],
       [ 1.98665992, -0.93749534, -0.78765037, ...,  0.20799905,
         0.76133145, -0.57136659]])

In [63]:
numeric_data = pd.DataFrame(scaled_data, columns=numeric_data.columns)
numeric_data

,Unnamed: 0,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,high_quality,is_red
0,-1.421571,0.142473,2.188833,-2.192833,-0.744778,0.569958,-1.100140,-1.446359,1.034993,1.813090,0.193097,-0.915464,-0.937230,-1.313488,1.750190
1,-1.420875,0.451036,3.282235,-2.192833,-0.597640,1.197975,-0.311320,-0.862469,0.701486,-0.115073,0.999579,-0.580068,-0.937230,-1.313488,1.750190
2,-1.420179,0.451036,2.553300,-1.917553,-0.660699,1.026697,-0.874763,-1.092486,0.768188,0.258120,0.797958,-0.580068,-0.937230,-1.313488,1.750190
3,-1.419483,3.073817,-0.362438,1.661085,-0.744778,0.541412,-0.762074,-0.986324,1.101694,-0.363868,0.327510,-0.580068,0.207999,0.761331,1.750190
4,-1.418787,0.142473,2.188833,-2.192833,-0.744778,0.569958,-1.100140,-1.446359,1.034993,1.813090,0.193097,-0.915464,-0.937230,-1.313488,1.750190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,1.983876,-0.783214,-0.787650,-0.197054,-0.807837,-0.486252,-0.367664,-0.420128,-1.186161,0.320319,-0.210144,0.593818,0.207999,0.761331,-0.571367
6493,1.984572,-0.474652,-0.119460,0.284686,0.537425,-0.257883,1.491697,0.924588,0.067824,-0.426067,-0.478971,-0.747766,-0.937230,-1.313488,-0.571367
6494,1.985268,-0.551792,-0.605417,-0.885253,-0.891916,-0.429160,-0.029599,-0.083949,-0.719251,-1.421248,-0.478971,-0.915464,0.207999,0.761331,-0.571367
6495,1.985964,-1.323198,-0.301694,-0.128234,-0.912936,-0.971538,-0.593041,-0.101642,-2.003251,0.755710,-1.016626,1.935402,1.353228,0.761331,-0.571367
6496,1.986660,-0.937495,-0.787650,0.422326,-0.975995,-1.028631,-0.480353,-0.313966,-1.763127,0.258120,-1.419867,1.096912,0.207999,0.761331,-0.571367

In [54]:
import sklearn.decomposition
pca = sklearn.decomposition.PCA(numeric_data)
pca

PCA(copy=True, iterated_power='auto',
    n_components=      Unnamed: 0  fixed acidity  volatile acidity  citric acid  \
0              0            7.4              0.70         0.00
1              1            7.8              0.88         0.00
2              2            7.8              0.76         0.04
3              3           11.2              0.28         0.56
4              4            7.4              0.70         0.00
...          ...            ...               ...          ...
6492        4893            6.2              0.21         0.29
6493        4894            6.6              0.32         0.36
6494        4895            6.5              0.24         0.19
6495        4896            5.5              0.29         0.30
6496        4897            6.0              0.21         0.38

      residual sugar  chlorides  free sulfur dioxide  total sulfur dioxide  \
0                1.9      0.076                 11.0                  34.0
1                2....
      density    pH  sulphates  alcohol  quality  high_quality  is_red
0     0.99780  3.51       0.56      9.4        5             0       1
1     0.99680  3.20       0.68      9.8        5             0       1
2     0.99700  3.26       0.65      9.8        5             0       1
3     0.99800  3.16       0.58      9.8        6             1       1
4     0.99780  3.51       0.56      9.4        5             0       1
...       ...   ...        ...      ...      ...           ...     ...
6492  0.99114  3.27       0.50     11.2        6             1       0
6493  0.99490  3.15       0.46      9.6        5             0       0
6494  0.99254  2.99       0.46      9.4        6             1       0
6495  0.98869  3.34       0.38     12.8        7             1       0
6496  0.98941  3.26       0.32     11.8        6             1       0

[6497 rows x 15 columns],
    random_state=None, svd_solver='auto', tol=0.0, whiten=False)

In [74]:
outcomes['high_quality'].astype(bool)

0       False
1       False
2       False
3        True
4       False
        ...
6492     True
6493    False
6494     True
6495     True
6496     True
Name: high_quality, Length: 6497, dtype: bool

In [79]:
# Separating out the features
# x = df.loc[:, features].values
# Separating out the target
# y = df.loc[:,['target']].values

principal_components = sklearn.preprocessing.StandardScaler().fit_transform(pca)
# principal_components = sklearn.preprocessing.StandardScaler().fit_transform(pca, outcomes)

TypeError: float() argument must be a string or a number, not 'PCA'

### Exercise 4

In this exercise, we will plot the first two principal components of the covariates in the dataset. The high and low quality wines will be colored using red and blue, respectively.

#### Instructions 
- The first two principal components can be accessed using `principal_components[:,0]` and `principal_components[:,1]`. Store these as `x` and `y` respectively, and make a scatter plot of these first two principal components.
- How well are the two groups of wines separated by the first two principal components?

In [ ]:
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from matplotlib.backends.backend_pdf import PdfPages
observation_colormap = ListedColormap(['red', 'blue'])
x = # Enter your code here!
y = # Enter your code here!

plt.title("Principal Components of Wine")
plt.scatter(x, y, alpha = 0.2,
    c = data['high_quality'], cmap = observation_colormap, edgecolors = 'none')
plt.xlim(-8, 8); plt.ylim(-8, 8)
plt.xlabel("Principal Component 1")
plt.ylabel("Principal Component 2")
plt.show()

### Exercise 5

In this exercise, we will create a function that calculates the accuracy between predictions and outcomes.

#### Instructions
- Create a function `accuracy(predictions, outcomes)` that takes two lists of the same size as arguments and returns a single number, which is the percentage of elements that are equal for the two lists.
- Use accuracy to compare the percentage of similar elements in the `x` and `y` `numpy` arrays defined below.
- Print your answer.

In [ ]:
import numpy as np 
np.random.seed(1) # do not change

x = np.random.randint(0, 2, 1000)
y = np.random.randint(0 ,2, 1000)

def accuracy(predictions, outcomes):
    # write your code here!

### Exercise 6

The dataset remains stored as data. Because most wines in the dataset are classified as low quality, one very simple classification rule is to predict that all wines are of low quality. In this exercise, we determine the accuracy of this simple rule. 

#### Instructions
- Use `accuracy()` to calculate how many wines in the dataset are of low quality. Do this by using 0 as the first argument, and `data["high_quality"]` as the second argument.
- Print your result.

In [ ]:
# write your code here!

### Exercise 7 

In this exercise, we will use the kNN classifier from `scikit-learn` to predict the quality of wines in our dataset.

#### Instructions
- Use `knn.predict(numeric_data)` to predict which wines are high and low quality and store the result as `library_predictions`.
- Use `accuracy` to find the accuracy of your predictions, using `library_predictions` as the first argument and `data["high_quality"]` as the second argument.
- Print your answer. Is this prediction better than the simple classifier in Exercise 6?

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(numeric_data, data['high_quality'])
# Enter your code here!

### Exercise 8

Unlike the `scikit-learn` function, our homemade kNN classifier does not take any shortcuts in calculating which neighbors are closest to each observation, so it is likely too slow to carry out on the whole dataset. In this exercise, we will select a subset of our data to use in our homemade kNN classifier.

#### Instructions 
- Fix the random generator using `random.seed(123)`, and select 10 rows from the dataset using `random.sample(range(n_rows), 10)`. Store this selection as `selection`.

In [ ]:
n_rows = data.shape[0]
# Enter your code here.

### Exercise 9

We are now ready to use our homemade kNN classifier and compare the accuracy of our results to the baseline.

#### Instructions 
- For each predictor` p` in `predictors[selection]`, use `knn_predict(p, predictors[training_indices,:], outcomes, k=5)` to predict the quality of each wine in the prediction set, and store these predictions as a np.array called `my_predictions`. Note that knn_predict is already defined as in the Case 3 videos.
- Using the `accuracy` function, compare these results to the selected rows from the `high_quality` variable in data using `my_predictions` as the first argument and `data.high_quality[selection]` as the second argument. Store these results as `percentage`.
- Print your answer.

In [ ]:
predictors = np.array(numeric_data)
training_indices = [i for i in range(len(predictors)) if i not in selection]
outcomes = np.array(data["high_quality"])

my_predictions = # Enter your code here!
percentage = # Enter your code here!